<div class="car-form-container">
  <h2>Cadastro de carro:</h2>
  <form class="car-form">
      <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" [(ngModel)]="carro.nome">
      </div>
      <div class="form-group">
          <label for="marca">Marca:</label>
          <input type="text" id="marca" name="marca" [(ngModel)]="carro.marca">
      </div>
      <div class="form-group">
          <label for="ano">Ano:</label>
          <input type="number" id="ano" name="ano" [(ngModel)]="carro.ano">
      </div>
      <div class="form-group">
          <label for="placa">Placa:</label>
          <input type="text" id="placa" name="placa" [(ngModel)]="carro.placa">
      </div>
      <div class="form-group">
          <label for="combustivel">Combustível:</label>
          <select id="combustivel" name="combustivel" [(ngModel)]="carro.combustivel">
              <option value="">Selecione</option>
              <option value="gasolina">Gasolina</option>
              <option value="etanol">Etanol</option>
              <option value="diesel">Diesel</option>
              <option value="flex">Flex</option>
              <option value="eletrico">Elétrico</option>
          </select>
      </div>
      <div class="btn-flex">
          <button type="submit" (click)="save()">Save</button>
          <button type="button" (click)="close()">Close</button>
      </div>
  </form>
</div>